<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>usersignup</servlet-name>
  	<display-name>usersignup</display-name>
  	<description></description>
  	<servlet-class>com.voting.usersignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userlogin</servlet-name>
  	<display-name>userlogin</display-name>
  	<description></description>
  	<servlet-class>com.voting.userlogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createpollcontroller</servlet-name>
  	<display-name>createpollcontroller</display-name>
  	<description></description>
  	<servlet-class>com.voting.createpollcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewpollscontroller</servlet-name>
  	<display-name>viewpollscontroller</display-name>
  	<description></description>
  	<servlet-class>com.voting.viewpollscontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>resultcontroller</servlet-name>
  	<display-name>resultcontroller</display-name>
  	<description></description>
  	<servlet-class>com.voting.resultcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>com.voting.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>b4votingcontroller</servlet-name>
  	<display-name>b4votingcontroller</display-name>
  	<description></description>
  	<servlet-class>com.voting.b4votingcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>aftervotingcontroller</servlet-name>
  	<display-name>aftervotingcontroller</display-name>
  	<description></description>
  	<servlet-class>com.voting.aftervotingcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>genlink</servlet-name>
  	<display-name>genlink</display-name>
  	<description></description>
  	<servlet-class>com.voting.genlink</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>usersignup</servlet-name>
  	<url-pattern>/usersignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userlogin</servlet-name>
  	<url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createpollcontroller</servlet-name>
  	<url-pattern>/createpoll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewpollscontroller</servlet-name>
  	<url-pattern>/viewpollscontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>resultcontroller</servlet-name>
  	<url-pattern>/resultcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>b4votingcontroller</servlet-name>
  	<url-pattern>/b4votingcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>aftervotingcontroller</servlet-name>
  	<url-pattern>/aftervotingcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>genlink</servlet-name>
  	<url-pattern>/genlink</url-pattern>
  </servlet-mapping>
</web-app>
